{% extends 'base_layout.html' %}

{% block content %}

<h1><u>Article List</u></h1>
<div class="articles">
  {% for article in articles %}
    <div class="article" style="margin: 0 auto; width: 50%">
      <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
      <p>{{ article.snippet }}</p>
      <p>{{ article.date }}</p>
    </div>
    <hr>
  {% endfor %}
</div>

{% endblock %}

<!--
{% block mainC %}
<h2><i>this is test content for mainC block</i></h2>
{% endblock %}
-->
